<div class="text-left flex flex-col gap-6 md:gap-8 justify-center items-stretch w-full lg:flex-row lg:items-start">
  <!-- Box 1: Sunray -->
  <div
    class="w-full lg:flex-1 bg-gradient-to-r from-white/80 to-white/75 dark:from-gray-700/30 dark:to-gray-800/30 p-6 md:p-8 rounded-3xl shadow-lg mx-auto flex flex-col justify-between space-y-5 h-full backdrop-blur-md">
    <h1 class="font-extrabold text-xl md:text-2xl text-center text-gray-900 dark:text-white">1. Sunray (5 คะแนน)</h1>
    <div class="overflow-x-auto rounded-lg border border-gray-200 dark:border-gray-600 shadow-md">
      <table class="min-w-full bg-white dark:bg-gray-800 rounded-lg">
        <thead>
        <tr>
          <th class="py-3 px-4 border-b dark:border-gray-600 text-left text-gray-700 dark:text-gray-300 font-semibold">
            ชื่อถ้ำ
          </th>
          <th class="py-3 px-4 border-b dark:border-gray-600 text-left text-gray-700 dark:text-gray-300 font-semibold">
            ข้อมูล
          </th>
        </tr>
        </thead>
        <tbody class="text-left divide-y divide-gray-100 dark:divide-gray-700">
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
          <td class="py-3 px-4 text-gray-800 dark:text-gray-300">ถ้ำของคุณปิ๊ก</td>
          <td class="py-3 px-4 text-gray-800 dark:text-gray-300">{{ sunray_pckzy }}</td>
        </tr>
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
          <td class="py-3 px-4 text-gray-800 dark:text-gray-300">ถ้ำของคุณส้มฉุน</td>
          <td class="py-3 px-4 text-gray-800 dark:text-gray-300">{{ sunray_somchoon }}</td>
        </tr>
        <tr class="hover:bg-gray-50 dark:hover:bg-gray-700">
          <td class="py-3 px-4 text-gray-800 dark:text-gray-300">ถ้ำของคุณโอม</td>
          <td class="py-3 px-4 text-gray-800 dark:text-gray-300">{{ sunray_ohm }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p
      class="text-center text-gray-900 dark:text-gray-200 font-semibold bg-gray-50 dark:bg-gray-800 rounded-xl p-3 border border-gray-200 dark:border-gray-600">
      ค่าที่สูงที่สุด: {{ sunray }}
    </p>
  </div>

  <!-- Box 2: EmailSpin and 7-Segment -->
  <div
    class="w-full lg:flex-1 bg-gradient-to-r from-white/80 to-white/75 dark:from-gray-700/30 dark:to-gray-800/30 p-6 md:p-8 rounded-3xl shadow-lg mx-auto flex flex-col justify-between space-y-5 h-full backdrop-blur-md">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="font-extrabold text-xl md:text-2xl text-center text-gray-900 dark:text-white">2. EmailSpin (1
        คะแนน)</h1>
      <img [src]="emailspinFrame" alt="emailspin" class="h-[80px] md:h-[100px]">
    </div>
    <hr class="border-gray-400 dark:border-gray-600 w-full">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="font-extrabold text-xl md:text-2xl text-center text-gray-900 dark:text-white">3. 7-segment (1
        คะแนน)</h1>
      <span
        class="text-3xl sm:text-4xl md:text-5xl font-bold text-blue-900 dark:text-blue-300">{{ segment_number }}</span>
    </div>
  </div>

  <!-- Box 3: Temperature and Push Button -->
  <div
    class="w-full lg:flex-1 bg-gradient-to-r from-white/80 to-white/75 dark:from-gray-700/30 dark:to-gray-800/30 p-6 md:p-8 rounded-3xl shadow-lg mx-auto flex flex-col justify-between space-y-5 h-full backdrop-blur-md">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="font-extrabold text-xl md:text-2xl text-center text-gray-900 dark:text-white">4. Temperature (1
        คะแนน)</h1>
      <p [ngStyle]="{
          'background-color': temperature < 10 ? '#ffcc00' : '#5cb85c',
          'color': '#fff',
          'padding': '0.5rem 1rem',
          'border-radius': '0.80rem'
        }"
         class="label text-center text-2xl">
        {{ isNaN(temperature) ? '???' : temperature }} °C
      </p>
    </div>
    <hr class="border-gray-400 dark:border-gray-600 w-full">
    <div class="flex flex-col items-center justify-center space-y-4">
      <h1 class="font-extrabold text-xl md:text-2xl text-center text-gray-900 dark:text-white">5. Push Button (2
        คะแนน)</h1>
      <fa-icon [icon]="mqttService.is_door_open ? faDoorOpen : faDoorClose"
               class="text-8xl text-gray-700 dark:text-gray-200"></fa-icon>
    </div>
  </div>
</div>
