<div class="backdrop-blur-md bg-white dark:bg-gray-200/30 p-6 rounded-lg shadow-lg max-w-sm mx-auto">
  <i class="fa fa-5x fa-lightbulb-o" [style.color]="light_color"></i>
  <i class="fa fa-5x fa-paw" *ngIf="!open_food" style="color: #999;"></i>
  <i class="fa fa-5x fa-paw" *ngIf="open_food" style="color: #5cb85c;"></i>
  <br>
  <span class="label" style="font-size: 15px;"
        [ngClass]="{'label-warning': temp < 10, 'label-success': temp >= 10}">
    {{ temp }} c.
  </span>
  <br>
  <strong>{{ student }}</strong>
</div>
