<nav class="top-0 left-0 right-0 fixed px-2 pt-2 z-50 ">
  <div
    class="bg-navBlue bg-opacity-80 text-white backdrop-blur-md pl-6 py-1.5 rounded-t-nav  shadow-lg z-50">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex space-x-6">
        <div>
          <a class="hover:text-gray-300" routerLink="/">Home</a>
        </div>
        <div>
          <a class="hover:text-gray-300" routerLink="/mqtt">MQTT</a>
        </div>
        <div>
          <a class="hover:text-gray-300" routerLink="/exam">Exam</a>
        </div>
      </div>
      <div id="kmitl-text" class="hidden md:block my-auto py-0 sook_text">
        <a class="hover:text-gray-300" href="https://www.it.kmitl.ac.th/">King Mongkut's Institute of Technology
          Ladkrabang</a>
      </div>
    </div>
  </div>
  <div class="bg-navOrange min-h-[6px] rounded-b-nav">

  </div>
</nav>
