<div class="flex flex-col w-full" id="publishPanel">
  <div class="flex justify-between items-center mb-2">
    <h3 class="font-semibold text-3xl flex items-center gap-x-2">
      <span
        class="material-icons-outlined size-8 overflow-hidden select-none pointer-events-none flex items-center justify-center"
        style="font-size: 24px"
      >
        forward_to_inbox
      </span>
      <span>Publish</span>
    </h3>
  </div>

  <div
    class="w-full bg-white/70 dark:bg-gray-800/70 rounded-lg shadow drop-shadow-xl sm:px-8 px-6 py-6 backdrop-blur-xl"
    id="publishMain"
  >
    <form class="space-y-3">
      <div class="flex flex-col lg:flex-row gap-2">
        <div class="flex-1 min-w-[130px]">
          <label class="block font-medium">Topic</label>
          <input
            [(ngModel)]="topic"
            class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
            name="topic"
            type="text"
          />
        </div>

        <div class="flex flex-row md:w-auto w-full min-w-[120px] gap-2">
          <div class="flex flex-col w-full">
            <label class="block font-medium">QoS</label>
            <select
              [(ngModel)]="qos"
              class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300 cursor-pointer"
              name="qos"
            >
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
          <div class="flex flex-col">
            <label class="flex items-center justify-start font-medium"
              >Retain</label
            >
            <div class="w-full h-full flex justify-center items-center">
              <input
                [(ngModel)]="retain"
                class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-md focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600 cursor-pointer"
                name="retain"
                type="checkbox"
              />
            </div>
          </div>
        </div>

        <div class="flex items-end lg:w-28 w-full">
          <button
            (click)="publishMessage()"
            [disabled]="!mqttService.isConnected"
            [title]="mqttService.isConnected ? 'Publish to ' + topic : 'Connect to MQTT broker to publish'"
            [class]="isConnected ? '' : 'cursor-not-allowed'"
            class="h-[42px] w-full text-white bg-blue-600 hover:bg-blue-700 active:bg-blue-800 disabled:bg-gray-600 rounded"
            type="button"
          >
          <span class="flex items-center gap-x-2 w-full justify-center">
            <span
              class="material-icons-outlined size-6 overflow-hidden select-none pointer-events-none flex items-center justify-center"
              style="font-size: 20px"
            >
              send </span
            ><span>Publish</span></span
          >
          </button>
        </div>
      </div>

      <div class="flex flex-wrap gap-2">
        <div class="flex-1 w-full">
          <label class="block font-medium">Message</label>
          <textarea
            [(ngModel)]="payload"
            class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
            name="payload"
          ></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
