<div class="flex flex-col w-full" id="connection">
  <div class="flex justify-between items-center mb-2">
    <h3 class="font-semibold text-2xl">Connection</h3>
  </div>

  <div
    [ngClass]="{
      'success-border': mqttService.isConnected && showSuccessBorder,
      'blinking-border': !mqttService.isConnected,
      'no-border': !showSuccessBorder && mqttService.isConnected
    }"
    class="w-full bg-white/70 dark:bg-gray-800/70 rounded-3xl shadow drop-shadow-xl p-4 border-2 backdrop-blur-xl"
    id="conniMain">

    <form (ngSubmit)="handleSubmit()" class="space-y-3">
      <div class="flex flex-wrap gap-2">

        <div class="flex-1 min-w-[200px]">
          <label class="block font-medium" for="host">Host</label>
          <input [(ngModel)]="host"
                 name="host"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-900 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                 id="host"
                 type="text" required>
        </div>

        <div class="flex-1 min-w-[80px]">
          <label class="block font-medium" for="port">Port</label>
          <input [(ngModel)]="port"
                 name="port"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-900 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                 id="port" type="number" required>
        </div>

        <div class="flex-1 min-w-[150px]">
          <label class="block font-medium" for="client-id">Client ID</label>
          <input [(ngModel)]="client_ID"
                 name="clientId"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-900 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                 id="client-id" type="text" required>
        </div>
      </div>

      <div class="flex flex-wrap justify-center gap-3">
        <div class="flex-1 min-w-[200px] max-w-[375px]">
          <label class="block font-medium" for="student-id">Student ID</label>
          <input [(ngModel)]="studentId"
                 name="studentId"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-900 rounded-md px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"
                 id="student-id"
                 placeholder="Your student ID 66070xxx"
                 type="text"
                 required>
        </div>
        <div class="">
          <button type="button" (click)="startGenerator()" *ngIf="!mqttService.isConnected"
                  class="mt-7 mr-2 px-3 py-1 text-white bg-blue-600 hover:bg-blue-700 rounded">
            Connect MQTT
          </button>
          <button type="button" (click)="stopGenerator()" *ngIf="mqttService.isConnected"
                  class="mt-7 px-3 py-1 text-white bg-red-600 hover:bg-red-700 rounded">
            Disconnect MQTT
          </button>
        </div>
      </div>


      <h3 [ngClass]="{'text-green-600': mqttService.isConnected, 'text-red-600': !mqttService.isConnected}"
          class="text-center font-bold text-xl bg-opacity-50 mt-5">
        {{ temp_generator ? 'Connected' : 'Not connected' }}
      </h3>
    </form>
  </div>
</div>
