<div id="connection" class="flex flex-col w-full">
  <div class="flex justify-between items-center mb-4">
    <h3 class="font-semibold text-2xl">Connection</h3>
    <div id="connectionStatus" class="flex items-center"></div>
    <a class="text-gray-500 hover:text-gray-700" (click)="show_connection()">
      <div class="icon-arrow-chevron"></div>
    </a>
  </div>

  <div
    [ngClass]="{
    'success-border': isConnected && showSuccessBorder,
    'blinking-border': !isConnected,
    'no-border': !showSuccessBorder && isConnected
  }"
    id="conniMain"
    class="w-full bg-white/70 dark:bg-gray-800/70 rounded-lg shadow p-4 border-2 backdrop-blur-xl">
    <form class="space-y-4">
      <div class="flex justify-between">
        <div class="flex-1">
          <label class="block font-medium h">Host</label>
          <input type="text" [(ngModel)]="host" name="host"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300">
        </div>

        <div class="flex-1 mx-2">
          <label class="block font-medium">Port</label>
          <input type="number" [(ngModel)]="port" name="port"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300">
        </div>

        <div class="flex-1">
          <label class="block font-medium">ClientID</label>
          <input type="text" [(ngModel)]="clientId" name="clientId"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300">
        </div>

        <div class="flex items-center ml-3">
          <button *ngIf="!isConnected" (click)="connect()" type="button"
                  class="mt-7 mr-2 px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded">Connect
          </button>
          <button *ngIf="isConnected" (click)="disconnect()" type="button"
                  class="mt-7 px-4 py-2 text-white bg-red-600 hover:bg-red-700 rounded">Disconnect
          </button>
        </div>

      </div>

      <div class="flex justify-between">
        <div class="flex-1">
          <label class="block font-medium">Username</label>
          <input type="text" [(ngModel)]="username" name="username"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300">
        </div>

        <div class="flex-1 mx-2">
          <label class="block font-medium">Password</label>
          <input type="password" [(ngModel)]="password" name="password"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300">
        </div>

        <div class="flex-1">
          <label class="block font-medium">Keep Alive</label>
          <input type="number" [(ngModel)]="keepAlive" value="60" name="keepAlive"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300">
        </div>

        <div class="flex items-center">
          <label class="mr-2">SSL</label>
          <input type="checkbox" [(ngModel)]="ssl" name="ssl" class="form-checkbox h-5 w-5 text-blue-600"/>
        </div>

        <div class="flex items-center">
          <label class="mr-2">Clean Session</label>
          <input type="checkbox" id="cleanSessionInput" checked disabled class="form-checkbox h-5 w-5 text-gray-400"/>
        </div>
      </div>

      <div class="flex justify-between">
        <div class="flex-1">
          <label class="block font-medium">Last-Will Topic</label>
          <input type="text" [(ngModel)]="lwTopic" name="lwTopic"
                 class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300">
        </div>

        <div class="flex-1 mx-2">
          <label class="block font-medium">Last-Will QoS</label>
          <select [(ngModel)]="lwQos" name="lwQos"
                  class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300">
            <option [value]="0">0</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
          </select>
        </div>

        <div class="flex-1">
          <label class="block font-medium">Last-Will Retain</label>
          <input type="checkbox" [(ngModel)]="lwRetain" name="lwRetain" class="form-checkbox h-5 w-5 text-blue-600"/>
        </div>
      </div>

      <div class="flex-1">
        <label class="block font-medium">Last-Will Message</label>
        <textarea [(ngModel)]="lwMessage" name="lwMessage"
                  class="w-full border border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-700 rounded-md px-3 py-1.5 mt-1.5 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-300"></textarea>
      </div>
    </form>
    <h3 class="text-center font-bold text-xl bg-opacity-50"
        [ngClass]="{'text-green-600': isConnected, 'text-red-600': !isConnected, }">
      {{ isConnected ? 'Connected' : 'Not connected' }}
    </h3>

  </div>
</div>
