<div class="">
  <div class="text-center my-4">
    <h3 class="text-xl">Venus's temp</h3>
    <span class="text-4xl text-blue-500">{{ current_temp }} c.</span>
    <h3 class="text-xl">Student ID</h3>
    <input type="text" class="border border-gray-300 dark:border-gray-600 dark:bg-gray-800 dark:text-white rounded p-2"
           id="student-id" placeholder="Your student ID 65070xxx">
    <br>

    <!-- Use *ngIf to conditionally show buttons based on temp_generator existence -->
    <button class="mt-2 bg-blue-500 text-white rounded p-2" *ngIf="!temp_generator" (click)="startGenerator()">
      Connect MQTT
    </button>
    <button class="mt-2 bg-red-500 text-white rounded p-2" *ngIf="temp_generator" (click)="stopGenerator()">
      Disconnect MQTT
    </button>
  </div>

  <div class="my-4">
    <div class="text-center">
      <hr class="my-4">
      <ul class="flex flex-wrap justify-center">
        <!-- Use *ngFor to loop over students -->
        <li *ngFor="let student of STUDENTS" class="m-2">
          <app-student-node [student]="student"></app-student-node>
        </li>
      </ul>
    </div>
  </div>
</div>
