<div
  class="min-h-screen text-gray-900 dark:text-white flex flex-col justify-center items-center p-6 transition-colors duration-300">
  <h1 class="text-5xl font-extrabold mb-6 text-center transition-transform transform hover:scale-105">
    <span class="text-blue-500 dark:text-blue-300">Physical Computing</span> (BETA)
  </h1>
  <div class="max-w-md text-center mb-8 space-y-4">
    <p class="text-lg font-medium">
      <span class="text-blue-500 dark:text-blue-300">การประมวลทางกายภาพ</span>
      <br/>
      <span class="text-blue-600 dark:text-blue-400">PHYSICAL COMPUTING</span>
    </p>
    <p class="text-sm text-gray-600 dark:text-gray-400">
      แนวคิดของโปรแกรมภาษาซี ข้อมูลและชนิดของข้อมูลในภาษาซี ฟังก์ชันเบื้องต้นและข้อความสั่งกำหนดค่า
      โครงสร้างการวนซ้ำและเงื่อนไข อาร์เรย์ การเขียนฟังก์ชัน การเขียนข้อมูลชนิดโครงสร้าง ตัวชี้
      ไมโครคอนโทรลเลอร์เบื้องต้น การเชื่อมต่อสำหรับส่งออก การเชื่อมต่อสำหรับนำเข้า
      ตัวเปลี่ยนแอนะล็อกเป็นดิจิทัล/ตัวเปลี่ยนดิจิทัลเป็นแอนะล็อก อินเทอร์เน็ตของสรรพสิ่งเบื้องต้น
      โพรโทคอลสำหรับอินเทอร์เน็ตของสรรพสิ่ง การทำให้เกิดผลของอินเทอร์เน็ตของสรรพสิ่งด้วยไมโครคอนโทรลเลอร์
    </p>
  </div>
  <div class="flex flex-col space-y-4">
    <a routerLink="/mqtt" routerLinkActive="active"
       class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-xl border-2 border-blue-300 hover:border-blue-400 dark:bg-blue-600 dark:hover:bg-blue-700 dark:border-blue-400 dark:hover:border-blue-500">
      MQTT
    </a>
    <a routerLink="/exam" routerLinkActive="active"
       class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transform transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-xl border-2 border-blue-300 hover:border-blue-400 dark:bg-blue-600 dark:hover:bg-blue-700 dark:border-blue-400 dark:hover:border-blue-500">
      Exam
    </a>
  </div>
  <!--  <div class="mt-8 text-sm text-gray-600 dark:text-gray-400 text-center">-->
  <div
    class="md:absolute md:bottom-5 md:left-1/2 md:transform md:-translate-x-1/2 mt-8 text-sm text-gray-600 dark:text-gray-400 text-center">
    <p>This website supports a dark theme, which you can change through your system settings.</p>
  </div>
</div>
